<html>

<body>
    <% if (typeof errors != 'undefined') { %>
        <p style="color: red;">Error</p>
        <ul>
            <% for (let i = 0; i < errors.length; i++) {%>
                <li>
                    <%= errors[i].msg %>
                </li>
                <% } %>
        </ul>
        <% } %>
            <form action="/users/login" method="POST">
                <label for="">Name</label>
                <input type="text" name="name"><br>
                <label for="">Email</label>
                <input type="email" name="email"><br>
                <label for="">Password</label>
                <input type="password" name="password"><br>
                <label for="">Recordame</label>
                <input type="checkbox" name="recordame"><br>
                <input type="submit" value="Login">
            </form>
</body>

</html>